@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Gowun+Batang:ital,wght@0,400;0,700;1,400&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:#C0E0DE;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
body{
    background-color: #C0E0DE;
    font-family:Gowun Batang;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #4F7CAC;
}
nav a:hover{
    background-color: #FFCF56;
    color: #3C474B;
}
.book, .join{
    background-color: #4F7CAC;
    color:#C0E0DE;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #FFCF56;
    color: #3C474B;
}
#background{
    background-color: #FFCF56;
    height: 725px;
}
.msg{
    background-color: #FFCF56;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #4F7CAC;
    color: #C0E0DE;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color:#4F7CAC;
    font-family: Libre Baskerville;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:#4F7CAC;
}
.msg h2{
    color:#4F7CAC ;
    font-family: Libre Baskerville;
}
.msg p{
    color:#3C474B;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #FFCF56;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
h2{
    margin: 0;
}
#logo-link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #3C474B;
}
main section img{
    box-sizing: border-box;
}
.mountains{
    margin: 100px 0;
}